/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------GENERALITES-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
*{
    font-family:"Varela Round";
}
body{
    margin:0;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
}
#wrapper{
    max-width:1389px;
    width:100%;
    margin:0 auto;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------HEADER--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
header{
    
   background-color:rgba(0,0,0,0.3);
    width: 100%;
    max-width:1389px; 
    height:50px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    position:fixed;
    right:0;
    left:0;
    font-weight:bold;
    z-index: 4;
    margin:0 auto;
    
}
#logo1{
    width:120px;
    margin:0;
}
header a span{
    color :white;
    display: flex;
    flex-direction: row;
    align-items:center;
    font-size:20px;
    margin: 20px;
}
header a span i{
    font-size:30px !important;
    //border: 2px solid;
    height: 30px;
}
header a span h4{
    margin-left:10px;
   // border: 2px solid
}
#menu{
    //border:solid 2px blue;
    width: 800px;
    display: flex;
    justify-content: flex-end;
}
#menu p{
    color:white;
    margin:auto;
    font-size:30px;
}
div a{
    color:white;
    font-size:20px;
    //border: 2px red solid;
    margin:auto;
}
header div a:hover{
    color:darkgrey;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------SECTION1-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#section1{
    //background:linear-gradient(to bottom, darkorange , yellow );
    background-image: url(backgrounds/cover.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    min-height:600px;
    text-align: center;
    padding:2%;
    position:relative;
    z-index:1;
}
#section1 h1{
    color:white;
    font-size:40px;
    margin-top:200PX;
    
}
#section1 h4{
    color:white;
    font-size:20px;
    margin-bottom: 80px;
}
#form_btn{
    //border:2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#div_btn{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    //border: 2px solid;
}
#section1 form{
    //border:2px solid black;
    width:100%
}
input{
    width:63%;
    height: 50px;
    border:white 4px solid;
    border-radius: 50px;
    font-size:15px;
    font-weight: bold;
    color:dimgray;
    margin:10px;
}
#section1 button{
    width:40%;
    height: 50px;
    border:none;
    border-radius: 50px;
    font-size:20px;
    font-weight: bold;
    color:white;
    margin-top:20px;
    
}
#btn1{
    background-color: #1db954;
    transition-property: background-color,transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
#btn1:hover{
    background-color: chartreuse;
    transform: scale(1.02);
}

#btn2{
    background: none;
    border:white 2px solid !important;
    border-radius: 50px;
    //margin:auto 10px;
    //padding: 10px 70px;
    transition-property: background-color,transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
#btn2:hover{
    background-color: white;
    color: black;
    font-weight: bolder;
    transform: scale(1.02);
}

#arr-down{
    color:green;
    width:50px;
    font-size:50px;
    background-color: white;
    border-radius:50%;
    position:absolute;
    bottom:-75%;
    left:48%;
    box-shadow: 0 2px 2px 3px rgba(0,0,0,0.2);
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    
}
#arr-down:hover{
    transform: scale(1.1);
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------SECTION2----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#section2{
    text-align: center;
    padding:2%;
}
#trending>h4{
    
    margin:60px;
}
#trending h4{
    font-size:20px;
    color:black;
}

#subTitles2{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width:100%;
}

#subTitles2 a{
    font-size:20px;
    margin: 20px;
    color:black;
    font-weight:bold;
}
#subTitles2 a:hover{
    color:limegreen;
}
#active-title{
     color: green !important;
    border-bottom:2px solid green;
}
#trend_albums{
    //border:2px solid black;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:flex-start;
}
#trend-albums div{
    height:auto;
    width:130px;
}

.album{
    width:80%;
    margin:auto;
}

#album1{
    background: url(images/abbeyroad1.jpg) no-repeat;
    background-position: center;
    background-size:contain;
    width:150px;
    height:150px;
    margin: auto;
}

#album2{
    background: url(images/ript_parody_album_covers_2.jpg) no-repeat;
    background-position: center;
    background-size:contain;
    width:150px;
    height:150px;
    margin: auto;
}
#album3{
   background: url(images/kim-jong-illmatic.jpg) no-repeat;
    background-position: center;
    background-size:contain;
    width:150px;
    height:150px;
    margin: auto;
}
#album4{
   background: url(images/2paca.jpg) no-repeat;
    background-position: center;
    background-size:contain;
    width:150px;
    height:150px;
    margin: auto;
}
#album5{
   background: url(images/b14.jpg) no-repeat;
    background-position: center;
    background-size:contain;
    width:150px;
    height:150px;
    margin: auto;
}
#album6{
   background: url(images/herdvana.png) no-repeat;
    background-position: center;
    background-size:contain;
    width:150px;
    height:150px;
    margin: auto;
}
.cont-album div{
    background:none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height:100%;
    width:100%;
    //border:2px solid;
    
}
.cont-album  div i{
    width:100%;
    height: 100%;
    background-color: none;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1px;
    transition-property: background, font-size;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.cont-album  div i:hover{
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 50px;
}
#trending-album h5{
    font-weight:lighter;
    font-size:40px;
    color:grey;
    margin:0;
}
.listenNow{
    color:lime!important;
    font-weight:bolder;
    text-align: left;
    margin:0;
}
.cont-album h4 , .cont-album h5{
    text-align:left;
    width: 100%;
    height: 40px;
    text-overflow: ellipsis;
}
.cont-album{
    width: 100%;
    //margin: 8px;
    display: flex;
    flex-direction:column;
}


/*---------------------------------------------------------------------------------------SECTION3-------------------------------------------------------------------------------------------------------------------------------*/
#section3{
   //background-image: linear-gradient(to top,#ff6600,orange,yellow);
}
#section3>h4{
    text-align: center;
    font-size:30px !important;
}
#section3 h3{
    font-size:20px;
}
#offres{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#offres div{
    width: 20%;
    text-align: center;
}

#offres div h4{
    font-size:20px;
}

#offres div p{
    font-size:15px;
}
hr{
    border-radius: 10px;
    background-color:black;
    height:5px;
    width:70px;
}
#demarrer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
#demarrer a{
    color:limegreen;
    font-weight: bolder;
    font-size: 20px;
}
/*----------------------------------------------------------------------------------------SECTION4------------------------------------------------------------------------------------------------------------------------*/

#section4{
    padding: 20px;
    margin:50px 0;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

#sect4-text{
    margin-left: 20px;
    width:50%;
    flex-basis: 50%;
}
.mosaic1{
    display: flex;
}
.mosaic2{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    
}
.mosaic2 div{
    height:230px;
    width: 230px;
    margin: 0;
    //border:2px solid;
}
.mosaic2 div i{
     width:100%;
    height: 100%;
    background-color: none;
    color:white;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    font-size: 1px;
    transition-property: background, font-size;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.mosaic2 div i:hover{
     width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    font-size: 50px;
}
.mosaic2 #cover1{
    background: url(images/abbeyroad1.jpg) no-repeat;
    background-position: center;
    background-size:contain;
    margin: 0;
}
.mosaic2 #cover2{
    background: url(images/1412798__safe_screencap_sunburst_album+cover_kendrick+lamar_parody_ponified_pony_vulgar.png) no-repeat;
    background-position: center;
    background-size:contain;
    margin:0;
}
.mosaic2 #cover3{
    background:url(images/kim-jong-illmatic.jpg) no-repeat;
    background-position: center;
    background-size:contain;
    margin:0;
}
.mosaic2 #cover4{
    background: url("images/catchem-album-cover.jpg") no-repeat;
    background-position: center;
    background-size:contain;
    margin:0;
}
/*----------------------------------------------------------------------------------------SECTION5------------------------------------------------------------------------------------------------------------------------------*/

#section5{
    //border:2px blue solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top,#ff6600,orange,yellow);
    padding:30px;
    height:300px;
}
#section5 h1{
    font-size:40px;
    color: white;
}

#start_spot{
    background-color: #1db954;
     width:50%;
    height: 50px;
    border:none;
    border-radius: 50px;
    font-size:20px;
    font-weight: bold;
    color:white;
}
#start_spot:hover{
     background-color: chartreuse;
}
/*---------------------------------------------------------------------------------------FOOTER-------------------------------------------------------------------------------------------------------------------------------*/

footer{
    background-color: black;
    height:auto;
    padding-top:50px;
    //padding-bottom:50px;
    padding-left: 40px;
    padding-right:40px;
}
footer article{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}
footer article span{
    //border: 2px solid;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:flex-start;
    color:white;
    font-size:20px;
    height:30px;
    width:150px;
}
footer article span i{
    //border:2px solid;
    height: auto;
    font-size:25px !important;
}
footer article span h4{
    //border: 2px solid;
    margin:0;
}
footer article h5{
    color :white;
}
footer article h5:not(.foot-headings):hover{
    color :limegreen;
}
.foot-headings{
    color:dimgrey;
}
#logo2{
    height:30px;
    width:100px;
}
#foot4{
    display:flex;
    flex-direction: row;
    align-self: center;
}
/*#foot4 img{
    height:30px;
    width:30px;
    margin:0 20px;
}*/
#foot4 i{
    color:white;
    font-size:20px;
    text-align: center;
    margin: 20px;
    background-color:#404040;
    width:50px;
    height:50px;
    border-radius: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#foot4 i:hover{
    color:lime;
}

#foot-article-last{
    margin-top: 100px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
#foot-article-last>div a{
   margin:20px;
}

#foot-article-last a{
    font-size: 20px;
}
#foot-article-last a:hover{
    color:limegreen;
}
#foot-article-last img{
    height:15px;
    width:20px;
    margin: 0;
}
#credits{
    display: flex;
    flex-direction: column;
    //flex-wrap: wrap;
}
#credits div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#credits div p{
    //border:solid 2px;
    margin-right: 5px;
}
#credits div img{
    //border:2px solid;
}
#credits p{
    color:white;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------MEDIA---QUERIES-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 986px) {
    
}












